
body{
    /* background-image: url(./JotaroFrenchBread.png); */
    background-color: rgb(35, 125, 209); 
    background-attachment: fixed;
    background-size:100%;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    zoom: 150%;
}
.box {
    display: flex;
    flex-direction: column;
    height: 100%; 
    align-items: center;
}
.box-item {
    flex-direction: row;
    justify-content: center;
    border-radius: 5px 5px;
}
.search {
    text-align: center;
    border-radius: 0, 0, 5px, 5px;
}
.none {
    height:20px;
    width: 40%;
}
.header {
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px cornflowerblue;
}
button {
    border-radius: 10%;
    border-style: outset;
    background-color: rgb(130, 216, 209);
    border-color: rgb(130, 216, 209);
}
input {
    border-radius: 5px;
}

#clouds {
    text-align: center;
}

#interface {
    width: max-content;
    margin: auto;
}


.menu {
    width: 100%;
    flex-direction: row;
    align-content: center;
    background-color:  rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px;
    margin-top: 10px;
    box-shadow: 3px 3px cornflowerblue;

}